@import '../../configs/variables/index';
@import '../../frameworks/mixins';
:local {
  .profilePage {
    text-align: center;
     :global {
      .card {
        padding: 20px 10px;
      }
      .inputBlock {
        margin: 30px auto;
        max-width: 220px;
        width: 100%;
      }
    }
    .name {
      font-size: 1.3em;
      padding: 5px;
    }
     :global {
      [class*="btn"] {
        max-width: 220px;
        width: 100%;
      }
    }
  }
}