@import '../../configs/variables';
@import '../../frameworks/mixins';
:local {
  .cidPage {
    text-align: center;
     :global {
      .card {
        padding: 20px 10px;
      }
      .inputBlock {
        margin: 30px auto;
        width: 100%;
        max-width: 220px;
      }
    }
    .name {
      padding: 5px;
      font-size: 1.3em;
    }
     :global {
      .btn {
        width: 100%;
        max-width: 220px;
      }
    }
  }
}