@import '../../configs/variables/index';
@import '../../frameworks/mixins/index';
@mixin login-bg-position($login-bg-cal-size) {
  background-position: center calc(100vh - #{$login-bg-cal-size}vw);
}

:local {
  .profile {
    color: #ffffff;
    display: grid;
    grid-template-columns: 80px calc(100% - 80px);
    margin-bottom: 10px;
    max-width: 100%;
    .image {
      grid-row-start: 1;
      grid-row-end: 3;
      .userImage {
        width: $main-avatar-normal-size;
        height: $main-avatar-normal-size;
        border-radius: 100%;
        border: 2px solid #ffffff;
        overflow: hidden;
        text-align: center; // display: flex;
        >img {
          width: 100%; // height: 100%;
          height: 100%;
          object-fit: cover;
          display: inline-block;
        }
      }
    }
    .profileName {
      cursor: pointer;
      font-size: 1.35em;
      a {
        align-items: center;
        display: inline-flex;
        justify-content: center;
        .nameLabel {
          display: inline-block;
          max-width: calc(100% - 30px);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: auto;
          font-weight: $main-font-bold-size;
        }
        .nameMore {
          display: inline-block;
          width: 30px;
          &::before {
            display: inline-block;
            font-size: 0.8em;
            position: relative;
            right: -10px;
            transform: rotate(180deg);
          }
        }
      }
    }
    .profileInfo {
      font-size: 0.85em;
      max-width: 350px;
      text-align: center;
      >.itemInfo {
        padding-right: 5px;
        &[class*='icon'] {
          font-size: 1.5em;
          padding-top: 5px;
          position: relative;
        }
        &.blood {
          &::before {
            color: #da0623;
          }
          .bloodLabel {
            color: #fff;
            font-family: $main-font-name;
            font-size: 0.7em;
            left: 0;
            position: absolute;
            text-align: center;
            top: 10px;
            width: 20px;
          }
        }
        &.sex {

        }
      }
      .valueInfo {
        color: $main-font-active-color;
      }
      .labelInfo {
        font-size: 0.9em;
      }
    }
  }
  .mainMenu {
    // min-height: 300px;
    .logoutMenu {
      border-top: 1px solid $main-border-color;
    }
  }
}