@import '../../configs/variables';
@import '../../frameworks/mixins';

@mixin login-bg-position($login-bg-cal-size){
  background-position: center calc(100vh - #{$login-bg-cal-size}vw);
}

:local {
  .profile{
    height: 100px;
    background-color: #fff;
    margin-bottom: 10px;
  }
  .logoutMenu{
    border-top: 1px solid $main-border-color;
  }
}
