@import '../../configs/variables/index';
@import '../../frameworks/mixins/index';
:local {
  .profilePage {
     :global {
      .card {
        padding: 20px 10px;
      }
    }
    .name {
      font-size: 1.3em;
      padding: 5px;
    }
     :global {
      .btnPrimary {
        margin: auto;
        max-width: 220px;
        width: 100%;
        display: block;
      }
    }
    .profileContent {
      margin: auto;
      max-width: 100%;
      text-align: center;
      width: 500px;
       :global {
        .profileColumns {
          width: 100%;
        }
      }
      table {
        margin: 30px auto;
        width: 100%;
      }
    }
    .profileEditForm {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -5px;
      align-items: center;
      margin: 30px auto;
      width: 685px;
      max-width: 100%;
      >div {
        margin: 0 5px;
      }
      .datePicker{
        >div{
          width: 100%!important;
        }
      }
      .normal {
        width: 260px!important;
      }
      .small {
        width: 125px!important;
      }
    }
    &.profileCidPage {
      text-align: center;
       :global {
        .inputBlock {
          margin: 30px auto;
          max-width: 220px;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 725px) {
   :local {
    .profilePage {
      .profileEditForm {
        .normal {
          width: 120px!important;
        }
      }
    }
  }
}

@media (max-width: 715px) {
   :local {
    .profilePage {
      .profileEditForm {
        width: 540px;
      }
    }
  }
}
@media (max-width: 715px) {
   :local {
    .profilePage {
      .profileEditForm {
        width: 450px;
        .normal {
          width: 260px!important;
          flex-basis: calc(100% - 10px)!important;
        }
        .small {
          width: 125px!important;
          flex-basis: calc(50% - 10px)!important;
        }
      }
    }
  }
}