/* 
    Variables Colors
----------------------------------------------
*/

// Main Theme 
// -------------------------------
$main-theme-color:#123962;
$main-theme-head-grading-one:#2753ba;
$main-theme-head-grading-two:#00aee5;
