/* 
    Variables Scrollbar
----------------------------------------------
*/

// Scrollbar
// -------------------------------
$scrollbar-width:8px;
$scrollbar-height:8px;
$scrollbar-radius:0px;
$scrollbar-track-color:#f4f4f4;
$scrollbar-thumb-color:#d3d3d3;