// Variables Template
// -------------------------------
$head-item-left-right-size:80px;
$main-avatar-big-size:85px;
$main-avatar-radius:100%;
$main-avatar-normal-size:70px;
$main-head-height:50px;
$main-radius:8px;

