/* 
    Variables Font
----------------------------------------------
*/

// Main Font
// -------------------------------
$main-font-size:16px;
$main-font-bold-size:500;
$main-font-color:#444444;
$main-font-active-color:#00aee5;
$main-font-line-height:normal;
// $main-font-name:Roboto, sukhumvit, Arial, Helvetica, sans-serif;
$main-font-name:'Kanit', sans-serif;

// Main Font Icon
// -------------------------------
$main-font-icon-name:'phr_icon';
