/* 
    Variables Font
----------------------------------------------
*/

// Main Font
// -------------------------------
$main-font-size:16px;
$main-font-color:#1c242f;
$main-font-active-color:#00aee5;
$main-font-line-height:normal;
$main-font-name:Roboto, sukhumvit, Arial, Helvetica, sans-serif;

// Main Font Icon
// -------------------------------
$main-font-icon-name:'phr_icon';
