@import '../configs/variables/index';
@import '../frameworks/mixins';
:global {
  * {
    @include scrollbar();
  }
  html,
  body {
    background-color: $main-theme-color;
    color: $main-font-color;
    @include main-font-style;
  }
  .headMain {
    color: #ffffff;
    height: $main-head-height;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    @include gradient($start: left, $stop:right, $colorOne:$main-theme-head-grading-one, $colorTwo:$main-theme-head-grading-two);
    .contentHead {
      align-items: stretch;
      display: flex;
      line-height: normal;
      margin: auto;
      max-width: $tablet;
      width: 100%;
      [class*="item"] {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        flex-basis: $head-item-left-right-size;
        height: $main-head-height;
        justify-content: center;
        padding: 5px;
        text-align: center;
        &.logo {
          box-sizing: border-box;
          img {
            width: 100%;
          }
        }
      }
      .itemLeft{
        justify-content: left;
        text-align: left;
        .btnIcon{
          color: #ffffff;
          font-size: 1.3em;
        }
      }
      .itemCenter {
        flex-basis: calc(100% - #{$head-item-left-right-size * 2});
        line-height: 2.5em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  .containerMain {
    box-sizing: border-box;
    margin: auto;
    max-width: $tablet;
    min-height: calc(100vh - #{$main-head-height});
    padding: 10px;
    padding-top: 60px;
    width: 100%;
  }
  .card {
    background-color: $main-card-bg-color;
    border-radius: $main-radius;
    padding: 10px;
    &.--list {
      padding: none;
    }
    &.--center {
      margin: auto;
      text-align: center;
    }
    &.avatarInfo {
      margin-top: 35px;
      .avatarBlock {
        margin-top: -55px;
        border: 3px solid $main-card-bg-color;
      }
    }
    &Head{
      font-weight: bold;
    }
    &Content{
      margin: 30px auto;
    }
  }
}