@import '../configs/variables';
@import '../frameworks/mixins';

:global {
  * {
    @include scrollbar();
  }
  html,
  body {
    @include main-font-style;
    color: $main-font-color;
    background-color: $main-theme-color;
  }
  .headMain {
    top: 0;
    width: 100%;
    height: $main-head-height;
    position: fixed;
    color: #ffffff;
    @include gradient($start: left, $stop:right, $colorOne:$main-theme-head-grading-one, $colorTwo:$main-theme-head-grading-two);
    .contentHead {
      width: 100%;
      margin: auto;
      display: flex;
      max-width: $tablet;
      line-height: normal;
      align-items: stretch;
      [class*="item"] {
        height: $main-head-height;
        padding: 5px;
        text-align: center;
        display: inline-block;
        box-sizing: border-box;
        flex-basis: $head-item-left-right-size;
        &.logo {
          box-sizing: border-box;
          img {
            height: 100%;
          }
        }
      }
      .itemCenter {
        overflow: hidden;
        line-height: 2.5em;
        white-space: nowrap;
        text-overflow: ellipsis;
        flex-basis: calc(100% - #{$head-item-left-right-size * 2});
      }
    }
  }
  .containerMain {
    width: 100%;
    margin: auto;
    min-height: calc(100vh - #{$main-head-height});
    padding: 10px;
    margin-top: 50px;
    max-width: $tablet;
    box-sizing: border-box;
  }
  .card{
    background-color: #fff;
    border-radius: $main-radius;
    padding: 10px;
    &.--list{
      padding: none;
    }
    &.--center{
      margin: auto;
      text-align: center;
    }
  }
}