/* 
    Mixins gradient
----------------------------------------------
*/

@mixin gradient($start:top, $stop:bottom, $colorOne:#ffffff, $colorTwo:#eeeeee){
    background: $colorOne; /* Old browsers */
    background: -moz-linear-gradient($start,  $colorOne 0%, $colorTwo 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left $start, left $stop, color-stop(0%,$colorOne), color-stop(100%,$colorTwo)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient($start,  $colorOne 0%,$colorTwo 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient($start,  $colorOne 0%,$colorTwo 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient($start,  $colorOne 0%,$colorTwo 100%); /* IE10+ */
    background: linear-gradient(to $stop,  $colorOne 0%,$colorTwo 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}