@import '../configs/variables/index';
@import '../frameworks/mixins/index';
:global {
  .mainCard {
    background-color: $main-card-bg-color;
    border-radius: $main-radius;
    margin-bottom: 10px;
    padding: 20px 10px;
  }
  .card {
    @extend .mainCard;
    &.--center {
      margin: auto;
      text-align: center;
    }
    &.--avatarInfo {
      margin-top: 35px;
      .avatarBlock {
        margin-top: -55px;
        border: 3px solid $main-card-bg-color;
      }
    }
    &Head {
      font-size: 1.1em;
      font-weight: $main-font-bold-size;
      text-align: center;
      text-transform: capitalize;
      >span {
        display: inline-block;
      }
    }
    &Content {
      margin: 30px auto;
      &.--noMargin {
        margin: auto;
      }
    }
    &List {
      padding: none;
    }
    &Group {
      border-bottom: 1px dashed #e0e0e0;
      margin-bottom: 10px;
      padding-bottom: 10px;
      &:last-child {
        border: none;
        margin: 0px;
        padding: 0px;
      }
      &Head {
        font-weight: $main-font-bold-size;
        text-transform: capitalize;
        >span {
          display: inline-block;
        }
      }
    }
  }
}