@import '../configs/variables/index';
@import '../frameworks/mixins/index';
:global {
  .mainCard {
    background-color: $main-card-bg-color;
    border-radius: $main-radius;
    margin-bottom: 10px;
    padding: 15px 10px;
  }
  .card {
    @extend .mainCard;
    &.--center {
      margin: auto;
      text-align: center;
    }
    &.--avatarInfo {
      margin-top: 35px;
      .avatarBlock {
        margin-top: -55px;
        border: 3px solid $main-card-bg-color;
      }
    }
    &Head {
      font-size: 1.2em;
      font-weight: $main-font-bold-size;
      text-align: center;
      text-transform: capitalize;
      >span {
        display: inline-block;
      }
    }
    &Content {
      margin: 30px auto;
      &.--noMargin {
        margin: auto;
      }
    }
    &List {
      padding: none;
    }
    &Group {
      margin-bottom: 30px;
      // border-bottom: 1px dashed #e0e0e0;
      // margin-bottom: 10px;
      // padding-bottom: 10px;
      // &:last-child,
      // &:first-child:last-child {
      //   border: none;
      //   margin: 0px;
      //   padding: 0px;
      // }
      &:last-of-type{
        margin-bottom: 0px;
      }
      &Head {
        border-bottom: 1px solid #cacaca;
        border-style: dashed;
        font-size: 1.05em;
        font-weight: 500;
        margin-bottom: 5px;
        padding-bottom: 10px;
        text-transform: capitalize;
        >span {
          display: inline-block;
        }
      }
    }
    &.--view {
      padding: 10px 0;
      .head {
        border: 1px dashed #cacaca;
        border-left: 0;
        border-right: 0px;
        font-size: 1rem;
        line-height: 1.3rem;
        padding: 5px 0px 7px 0px;
        position: relative;
        text-align: center;
        .label {}
        .value {
          font-size: 1.3em;
          font-weight: 600;
        }
      }
    }
  }
}