@import '../configs/variables/index';
@import '../frameworks/mixins/index';
:global {
  .loaderDot {
    position: relative;
    >div {
      animation: dotBounce 1.8s infinite ease-in-out;
      background-color: rgba(0, 0, 0, 0.35);
      border-radius: 100%;
      position: absolute;
      top: 0;
      &:first-of-type {
        animation-delay: -0.32s;
        left: calc(-100% - 3px);
      }
      &:nth-of-type(2) {
        animation-delay: -0.16s;
      }
      &:last-of-type {
        left: calc(100% + 3px);
      }
    }
  }
  // @-webkit-keyframes dotBounce {
  //   0% {}
  //   80%,
  //   100% {
  //     transform: scale(1, 1)
  //   }
  //   40% {
  //     transform: scale(0, 0)
  //   }
  // }
  @keyframes dotBounce {
    0% {}
    80%,
    100% {
      transform: scale(1, 1)
    }
    40% {
      transform: scale(0, 0)
    }
  }
}