@import '../configs/variables/index';
@import '../frameworks/mixins/index';
$block-icon-noti-size:50px;
:global {
  .menuIconList {
    padding-top: 10px;
    color: $main-font-color;
    background-color: #fff;
    border-radius: $main-radius;
    @include noSelect();
    li {
      display: flex;
      cursor: pointer;
      padding: 15px 0px;
      align-items: stretch;
      >div {
        padding: 0 15px;
        display: inline-block;
        box-sizing: border-box;
        flex-basis: $block-icon-noti-size;
        &[class*="icon"] {
          font-size: 1.5em;
          text-align: left;
          padding-right: 0px;
        }
        &.text {
          flex-basis: calc(100% - #{$block-icon-noti-size * 2});
        }
        &.noti{
          text-align: right;
          .notiBlock{
            background-color: $notification-bg-color;
            border-radius: 3px;
            color: #ffffff;
            display: inline-block;
            font-size: .85em;
            font-weight: bold;
            height: 22px;
            min-width: 22px;
            padding: 0px 5px 1px 5px;
            text-align: center;
          }
        } 
      }
      &.--active{
        font-weight: bold;
        color: $main-font-active-color;
        background-color: #f2f2f2;
      }
    }
  }
}