@import '../configs/variables/index';
@import '../frameworks/mixins/index';
$block-icon-noti-size:50px;
:global {
  .profileColumns {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}