@import '../configs/variables/index';
@import '../frameworks/mixins/index';
:global {
  .mainTableView {
    text-align: left;
    width: 100%;
    td {
      padding: 5px;
    }
  }
  .tableView {
    &Colon {
      @extend .mainTableView;
      >tbody {
        >tr {
          >td {
            &:nth-of-type(1) {
              padding-right: 10px;
              position: relative;
              text-transform: capitalize;
              white-space: nowrap;
              width: 5px;
              &::after {
                content: ':';
                display: inline-block;
                margin-top: -1px;
                position: absolute;
                right: 0;
              }
            }
          }
        }
      }
      &.--cl1TextUpper {
        >tbody {
          >tr {
            >td {
              &:nth-of-type(1) {
                text-transform: uppercase;
              }
            }
          }
        }
      }
    }
  }
}