@import '../configs/variables';
@import 'mixins';

/* 
    Helper Class
----------------------------------------------
*/

._no-margin {
    margin: 0 !important;
}

._no-padding {
    padding: 0 !important;
}

._no-radius {
    @include border-radius(0 !important);
}

._center {
    text-align: center !important;
}

._hide {
    text-align: center !important;
}

._display-block, ._show-block {
    display: block!important;
}

._display-inline-block, ._show-inline-block {
    display: inline-block!important;
}

._comma-block {
    &::after {
        content: ',';
        margin-left: 3px;
        margin-right: 10px;
    }
}

._text-fit {
    width: 5px;
    white-space: nowrap;
}